.questions_container {
  padding: 1rem;
  overflow: auto;
  height: 67vh;
}
.questions_container::-webkit-scrollbar {
  display: none;
}
.question {
  background-color: #f7f6f9;
}
.questions_no {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0 2rem 0 0;
  font-size: 1rem;
  background-color: #9a61e0;
  color: #fff;
}
.edit_questions_link,
.delete_question_link {
  color: rgb(160, 102, 231);
  &:hover {
    color: rgb(132, 61, 219);
  }
}
.edit_questions_container {
  top: -0.6rem;
  right: -4.3rem;
  color: rgb(160, 102, 231);
  &:hover {
    color: rgb(132, 61, 219);
  }
}
.questions_content {
  color: rgba(0, 0, 0, 0.8);
}
.question_name {
  font-size: .9rem;
  line-height: 1.1;
}
.option1 {
  font-size: .7rem;
  line-height: 1.3;
}
.dots {
  color: #9a61e0;
}